*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    --color-1: #EEB462;
    --color-2: #DC8665;
    --color-3: #CD7672;
    --color-4: #138086;
    --color-5: #534666;
    --color-6: #787FF6;
}
body {
    background-color: var(--color-5);
    /* filter: blur(3px); */
}
.page-container {
    background-color: var(--color-2);
    box-shadow: 0 5px 20px 5px #CD7672;
    height: 100vh;
    width: 960px;
    border-radius: 8px;
    margin: 50px auto;
    align-items: center;
    position: relative;
}

.nav-bar {
    position: relative;
    top: 35px;
    height: 50px;
    /* background: transparent; */
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
    width: 900px;
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 2;
}
.logo img {
    width: 110px;  
}
.nav-menu {
    z-index: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul.nav-menu li {
    display: inline-block;
    text-transform: uppercase;
}

ul.nav-menu li a{
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--color-4);
    padding: 14.5px 8px;
    letter-spacing: 1;
    font-size: 14px;
    font-weight: bolder;
    transition: all 0.4s ease-in;
}
ul.nav-menu li a:hover {
    background-color: rgb(238, 180, 98, 0.3);
    border-radius: 8px;
}
a.about-active {
    background-color: #EEB462;
    border-radius: 8px;
}
.nav-btn {
    display: none;
}
#nav-check {
    display: none;
}
/* **********Header end ********** */
div.grid {
   position: absolute;
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: 59.5% 40.5%;
}
div.left {
    position: relative;
    top: 250px;;
    text-align: center;
    margin: 0 50px;
    padding: 10px;
    
}
div.left p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
div.left h1 {
    font-size: 4rem;
    letter-spacing: 1.5;
    margin-bottom: 30px;
}

div.image {
    border-radius: 0 8px 8px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
div.image img{  
    position: absolute;
    height: 100vh;
    align-items: center;
}

@media (max-width: 576px) {
    .page-container {
        width:95%;
        margin-left: auto;
        margin-right:auto;
        padding: 0 0 30px;
        text-align: center;
        position: relative;
        background-image: linear-gradient(180deg, #CD7672 15%, #364751 50%);
    }
    /* ************* NAV-BAR Starts************ */
    .nav-bar {
        width: 100%;
        top: 0;
        height: 48px;
        border-radius: 8px 8px 0 0;
    }
    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        border: #138086 0px solid;
        border-radius: 0 8px 0 0;
    }
    .nav-btn > label {
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 12px;
        background-color: #DC8665;
        /* backdrop-filter: blur(5px); */
        border-radius: 0 6px 0 0;        
    }
    .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(241, 105, 105, 0.5);       
    }
    .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #138086;
    }
    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin: 0; */
        background-color: #DC8665;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 48px;
        left: 0px;
        justify-content: flex-start;
    }
    .nav-bar > .nav-menu > a {
        display: block;
        width: 100%;
    }
    #nav-check:not(:checked) ~ .nav-menu {
        height: 0px;
    }
    #nav-check:checked ~ .nav-menu {
        height: calc(100vh - 48px);
        margin: 0;
        padding: 0;
        border-radius: 0 0 8px 8px;
        overflow-y: auto;
    }
    #nav-check:checked ~ .nav-menu  a {
        font-size: 20px;
    }
    #nav-check:checked ~ .nav-menu  li {
        width: 100%;
    }
    #nav-check:checked ~ .nav-menu  a:hover {
        background-color: rgb(238, 180, 98, 0.3);
    }
 /************************ Nav-bar end **************/
    .grid {
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 200vh;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    div.left {
        grid-row: 1/2;
        text-align: center;
        /* border: 1px solid yellow; */
        grid-column: 1/-1;
        top: 0;    
        margin-top: 100px;   
        height: 100%;
        padding-top: 50px;
    }
    div.left h1 {
        font-size: 3em;
        margin-top: 10px;
    }
    div.left p {
        font-size: 14px;
    }
    div.image {
        grid-row: 2/-1;
        grid-column: 1/-1;
        width: 100%;
        height: 100%;
        /* border: red solid 1px; */
        overflow: hidden;
    }
    div.image img {
        position: relative;
        height: 100%;
        width: auto;
    }
    }